<nav class="nav-menu">
    <SfMenu Items="@menuItems" Orientation="Orientation.Vertical"></SfMenu>
</nav>

@code {
    private List<MenuItem> menuItems = new List<MenuItem>
{
new MenuItem { Text = "Home", IconCss = "e-icons e-home", Url = "/" },
new MenuItem { Text = "Counter", IconCss = "e-icons e-plus", Url = "/counter" },
new MenuItem { Text = "Weather", IconCss = "e-icons e-list", Url = "/weather" },
new MenuItem { Text = "Shops", IconCss = "e-icons e-building", Url = "/shops" },
new MenuItem { Text = "Products", IconCss = "e-icons e-shopping-cart", Url = "/products" },
new MenuItem { Text = "Add Product", IconCss = "e-icons e-edit", Url = "/product-form" },
new MenuItem { Text = "Categories", IconCss = "e-icons e-folder", Url = "/categories" },
new MenuItem { Text = "Profile", IconCss = "e-icons e-people", Url = "/profile" },
};
}

<style>
    .nav-menu {
        padding: 10px 0;
    }
</style>
